html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-100 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/inter-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-200 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/inter-v12-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/inter-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/inter-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/inter-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    font-family: Inter, Inika;
    font-style:normal;
    font-size: 16px;
    line-height: 1,2;
    font-weight: normal;
    color: black;
}

/*Header styles start*/

.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 110px;
    margin-left: 110px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
}

.nav-item{
    margin-right: 46px;
}

.green{
    background-color: #EDF2EC;
}

.nav-link, .logo-link {
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;  
    color: black;  
    text-decoration: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.colorred{
color: #E06733;
}

/*Header styles end*/

/*Welcome styles start*/

.welcome{
    min-height: 70vh;
    padding-top: 196px;
    padding-right: 109px;
    padding-left: 109px;
    padding-bottom: 62px;
}

.leafs{
    float: left;
    padding-right: 200px;
}

.grow{
    font-family: inter;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
   }

.colorgreen{
    color: #499A18;  
}

.lorem{
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060; 
    padding-bottom: 48px;
}

.textwelcome{
    max-width: 1200px;
    height: 408px;
}

.h1grow{
    padding-bottom: 42px;
}

.learnmore{
    font-family: inter;
    font-size: 16x;
    text-transform: uppercase;
    color: #000000; 
    padding: 14px 27px;
    background-color: #EDF2EC;
    border-color: #E06733;
    border-width: 2px 2px;
    border-style: solid;
    border-radius: 6px;
}
.welcome{
    background-color: #EDF2EC;   
    }
/*Welcome styles end*/

/*about styles start*/

.about{
    background-color: #FFFFFF;
    min-height: 70vh;
}

.professional{
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18; 
    padding-top: 161px;
    padding-bottom: 40px;
    padding-left: 109px;
    max-width: 605px;
    height: 102px;
}

.aboutprofessional{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060; 
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 109px;
    max-width: 620px;
    height: 350px;
}

.houseplant{
    float: right;
    padding-right: 109px;
    padding-top: 93px;
    padding-bottom: 94px;
}

/*about styles end*/

/*service styles start*/

.aboutservice{
    height: 94px;
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18; 
    padding-left: 109px;
    display: inline-flex;
}

.service{
    background-color: #EDF2EC; 
    min-height: 70vh;
    padding-top: 40px;
}

.gardens{
    font-family: Inika;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.06px;
    color: #E06733; 
    background-color: #EDF2EC;
    border-color: #E06733;
    border-width: 1px 1px;
    border-style: solid;
    border-radius: 6px;
    margin-left: 39px;
    width: 161px;
    height: 50px;
}

.buttongroup{
    margin-left: 142px;
    margin-top: 28px;
}

.h2service{
    max-width: 306px;
}

.projects{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 0px;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
}

.projectname{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733; 
    padding-top: 10px;
    text-align: center;
}

.aboutproject{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    padding-top: 10px;
    padding-bottom: 36px;
    text-align: center;
}

.project1,.project2 {
    background-color: #EDF2EC;
    border: #E3E1D5 1px solid;
    border-radius: 20px;
}

.project1 {
    margin-bottom: 50px;
}

.project2 {
    margin-bottom: 100px;
}

/*service styles end*/

/*prices styles start*/

.prices{
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;  
}

.pricesr{
    padding-top: 40px;
    padding-left: 109px;
}

.pricesl{
    width: 600px;
}

.aboutprices{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 38px;
    padding-right: 109px;
}

.select{
    width: 332px;
    height: 282px;
    padding-top: 15px;
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 34px;
    margin-top: 60px;
    margin-bottom: 129px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: #E3E1D5 1px solid;
    border-radius: 20px;  
}

.option{
    width: 250px;
    height: 50px;
    background-color: #EDF2EC;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 40px;
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000; 
    border: 0px;
    border-radius: 20px;
    border-right: #EDF2EC 40px solid;
    appearance: none;
    background: url('./assets/accordion_btn.png') no-repeat right;
    background-color: #EDF2EC;
}

.contactus{
    font-family: Inika;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.06px;
    color: #E06733; 
    background-color:#FFFFFF;
    border-color: #E06733;
    border-width: 1px 1px;
    border-style: solid;
    border-radius: 6px;
    width: 161px;
    height: 50px;
    float: right;
    margin-right: 109px;
    margin-bottom: 40px;
    margin-left: auto; 
    margin-right: 0;
}

.blockprices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leafs1{
   margin-left: auto; 
   margin-right: 0;
}

.buttonimg{
    display: grid;
    width: 100%;
    padding-right: 109px;
}

/*prices styles end*/

/*contacts styles start*/

.contacts{
    font-family: Inika;
    font-weight: 700;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18; 
    text-align: center;
    padding-top: 60px;
}

.blockcontacts{
    background-color: #EDF2EC;
    display: grid;
    grid-template-columns: 0px auto 0px;
    
}

.women{
    padding-top: 60px;
    padding-left: 109px;
}

.optioncity{
    appearance: none;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #717171; 
    border: #000000 0px solid;
    border-right: #D6E7D2 40px solid;
    background: url('./assets/accordion_btn\ \(1\).png') no-repeat right;
    background-color: #D6E7D2; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    float: right;
    margin-top: 50px;
    box-shadow: 0px 5px 5px 0px #AEA1A1;
    margin-right: 109px;
}

/*contacts styles end*/

/*footer styles start*/

a{
    text-decoration: none;
    color: #000000;
}

.githab{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;  
}

.rs{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000; 
}

.social-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.twitter{
    padding-top: 5px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*footer styles end*/
